<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="head">
            <ul class="menu">
                <li><a class="active" href="/">Trang chủ</a></li>
                <li><a class="active" href="/shop">Sản phẩm</a></li>
                <li><a href="/addnew"></a>Thêm sản phẩm</a></li>
            </ul>
        </div>  
       <main>
        <form class="product-form" action="/addnew" method="POST" enctype="multipart/form-data">
            <label for="">Ten san pham</label> <br>
            <input type="text" name="tensp"> <br>
            <label for="">Gia</label> <br>
            <input type="number" name="giasp"> <br>
            <label for="">Mo ta san pham</label> <br>
            <input type="text" name="motasp"> <br>
            <label for="">Hinh anh</label> <br> 
            <input type="file" name="hinhsp"> <br><br>
            <button type="submit">Them san pham</button> <br>
        </form>
       </main>
    </div>
</body>
</html>
